<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module>
	<dependencies>
		<dependency module="userauthentication" version="1.0.0" />
		<dependency module="userregistration" version="1.0.0" />
	</dependencies>
	<blocks>
		<block
			id="login-form"
			template="userlogin"
			includepages="all"
			excludepages="login,register"
			area="sidebar"
			weight="0"
			role="guest" />
		</blocks>
	<settings>
		<setting id="login_type" category="users" type="select" selection="email,username" default="email" />
		<setting id="login_method" category="users" type="text" default="DefaultUserLoginMethod" />
		<setting id="login_allow_sendingpassword" category="users" type="boolean" default="1" />
	</settings>
	<actions>
		<action id="login" controller="FormLoginController" role="guest">
			<param id="loginstr" type="text" required="true"/>
			<param id="loginpassword" type="text" required="true" max="32" />
			<param id="rememberme" type="boolean" />
		</action>
		<action id="send-password" controller="SendPasswordController" role="guest">
			<param id="useremail" type="text" required="true" validator="EmailValidator"/>
		</action>
		<action id="activate" controller="UserActivationController" role="guest">
			<param id="userid" type="number" required="true" />
			<param id="key" type="text" required="true" />
		</action>
	</actions>
</module>
