<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<admin>
		<adminpage id="imprint" permissionrole="r_admin" navcategory="settings" filename="imprint"/>
	</admin>
	<settings>
		<setting id="skin" category="frontend" type="text" default="DefaultBootstrapSkin"/>
		<setting id="entries_per_page" category="frontend" type="number" default="20"/>
		<setting id="head_code" category="frontend" type="textarea" />
	</settings>
	<blocks>
		<block
			id="messagesblock"
			template="messagesblock"
			includepages="all"
			area="custom"
			weight="0"
			role="user,guest"/>
		<block
			id="latest-results-summary"
			template="results-list-smallblock"
			model="LatestResultsBlockModel"
			includepages="none"
			area="custom"
			weight="0"
			role="user,guest"/>
	</blocks>
</module>
