<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<admin>
		<adminpage id="phpjobscheduler" permissionrole="r_admin" navcategory="settings" filename="phpjobscheduler"/>
	</admin>
	<settings>
		<setting id="bild_hintergrund" category="tlcdesign" type="text" default=''/>
		<setting id="bild_navbar" category="tlcdesign" type="text" default=''/>
		<setting id="color_navbar" category="tlcdesign" type="text" default="darkblue"/>
		<setting id="bild_spoiler" category="tlcdesign" type="text" default=''/>
		<setting id="color_spoiler" category="tlcdesign" type="text" default="darkblue"/>
		<setting id="spoiler_border" category="tlcdesign" type="text" default="darkblue"/>
		<setting id="spoiler_border_color" category="tlcdesign" type="text" default="darkblue"/>
		<setting id="bild_infolabel" category="tlcdesign" type="text" default=''/>
		<setting id="color_infolabel" category="tlcdesign" type="text" default="darkblue"/>
		<setting id="color_container" category="tlcdesign" type="text" default=''/>
		<setting id="bild_footer" category="tlcdesign" type="text" default=''/>
		<setting id="color_footer" category="tlcdesign" type="text" default=''/>
		<setting id="box_background_image" category="tlcdesign" type="text" default=''/>
		<setting id="box_background_color" category="tlcdesign" type="text" default=''/>
		<setting id="box_border" category="tlcdesign" type="text" default=''/>
		<setting id="box_border_color" category="tlcdesign" type="text" default=''/>
		<setting id="navbar_brand_color" category="tlcdesign" type="text" default=''/>
		<setting id="navbar_brand_color_shadow" category="tlcdesign" type="text" default=''/>
		<setting id="navbar_text_color" category="tlcdesign" type="text" default=''/>
		<setting id="navbar_text_color_shadow" category="tlcdesign" type="text" default=''/>
		<setting id="spoiler_text_header" category="tlcdesign" type="text" default="OpenWebsoccer"/>
		<setting id="spoiler_text_header_color" category="tlcdesign" type="text" default="white"/>
		<setting id="spoiler_text" category="tlcdesign" type="text" default="Zeige dein taktisches Geschick als Manager."/>
		<setting id="spoiler_text_color" category="tlcdesign" type="text" default="white"/>
		<setting id="spoiler_text_2" category="tlcdesign" type="text" default="Werde ein Teil der Community !"/>
		<setting id="spoiler_text_2_color" category="tlcdesign" type="text" default="yellow"/>
		<setting id="link_text_color" category="tlcdesign" type="text" default=''/>
		<setting id="header_text_color" category="tlcdesign" type="text" default=''/>
	</settings>
</module>