{#
    * This file is part of OpenWebSoccer-Sim.
    *
    * OpenWebSoccer-Sim is free software: you can redistribute it
    * and/or modify it under the terms of the
    * GNU Lesser General Public License
    * as published by the Free Software Foundation, either version 3 of
    * the License, or any later version.
    *
    * OpenWebSoccer-Sim is distributed in the hope that it will be
    * useful, but WITHOUT ANY WARRANTY; without even the implied
    * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    * See the GNU Lesser General Public License for more details.
    *
    * You should have received a copy of the GNU Lesser General Public
    * License along with OpenWebSoccer-Sim.
    * If not, see
    <http://www.gnu.org/licenses/>.
#}

{% if env.getConfig("googleplus_enable_likebutton") %}
    {% set url = env.getInternalUrl(null, "id=" ~ env.getRequestParameter("id"), TRUE) %}
    <div data-href="{{ url }}" class="g-plusone" data-size="medium"></div>

    <script type="text/javascript">

        (function () {
            var po;
            var s;
            window.___gcfg = {lang: '{{ i18n.getCurrentLanguage() }}'};

            po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endif %}