{% extends "base.twig" %}

{% block page_content %}

<div class="ajaxLoadedBlock" id="todays-matches_block" data-ajaxblock="todaysmatches" data-ignoreemptymessages="true" data-refreshperiod="20"></div>

{% endblock %}