<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="leagues" version="1.0.0"/>
    </dependencies>

    <blocks>

        <block
            id="alltimetable-table"
            template="alltimetable-table"
            model="AlltimeTableModel"
            includepages="alltimetable"
            area="content_bottom"
            weight="2"
            role="user,guest" />

    </blocks>
</module>
