{% extends "box.twig" %}

{% block box_content %}

{% if env.user.id and (hidesubmit is not defined or not hidesubmit) %}
<form class="form form-inline" method="post">
	<input type="hidden" name="action" value="send-shoutbox-msg"/>
	<input type="hidden" name="block" value="shoutbox"/>
	<input type="hidden" name="id" value="{{ env.getRequestParameter("id") }}"/>

	<input class="span3" id="msgtext" name="msgtext" type="text" required="true" value=""/>
	<input type="submit" class="btn ajaxSubmit" data-ajaxtarget="shoutbox_block" data-messagetarget="shoutboxvalmessages" value="{{ i18n.getMessage("shoutbox_button_go") }}"/>
	<input type="button" name="reset_form" value="Reset Form" onclick="this.form.reset();"/>
</form>
{% else %}
	<p><small>{{ i18n.getMessage('shoutbox_hiddensubmit_note') }}</small></p>
{% endif %}

{% endblock %}
