<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<blocks>
		<block
			id="help_formation"
			template="help_formation"
			includepages="formation"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_messages"
			template="help_messages"
			includepages="messages"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_myteam"
			template="help_myteam"
			includepages="myteam"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_tickets"
			template="help_tickets"
			includepages="tickets"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_sponsor"
			template="help_sponsor"
			includepages="sponsor"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_stadium"
			template="help_stadium"
			includepages="stadium"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_training"
			template="help_training"
			includepages="training"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_trainingcamp"
			template="help_trainingcamp"
			includepages="trainingcamp"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_transfermarket"
			template="help_transfermarket"
			includepages="transfermarket"
			area="content_top"
			weight="0"
			role="user"/>
		<block
			id="help_transfer-bid"
			template="help_transfer-bid"
			includepages="transfer-bid"
			area="content_top"
			weight="0"
			role="user"/>
	</blocks>
</module>
