{% macro infofield(label, value, doNotEscape = false) %}

	{% block stylesheets %}
		<style type="text/css">
			.inforow {
				margin-top: 10px;
			}
			.infolabel {
				font-weight: bold;
				background: #f5f5f5;
				padding: 8px;
				border-radius: 4px;
			}
			.infovalue {
				padding: 8px;
			}
		</style>
	{% endblock %}

	<div class="row-fluid inforow">
		<div class="span6 infolabel">{% if doNotEscape %}{{ label|raw }}{% else %}{{ label }}{% endif %}</div>
		<div class="span6 infovalue">{% if doNotEscape %}{{ value|raw }}{% else %}{{ value }}{% endif %}</div>
	</div>

{% endmacro %}
