<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<settings>
		<setting id="randomevents_interval_days" category="game" type="number" default="10"/>
	</settings>
	<admin>
		<adminpage
			id="randomevent"
			entity="randomevent"
			navcategory="league"
			permissionrole="r_daten">
			<entity dbtable="randomevent AS EventTab">
				<overview delete="true" edit="true">
					<column
						id="entity_randomevent_message"
						field="EventTab.message"
						type="text"
						sort="true"/>
					<column
						id="entity_randomevent_effect"
						field="EventTab.effect"
						type="text"
						sort="true"/>
					<column
						id="entity_randomevent_weight"
						field="EventTab.weight"
						type="number"
						sort="true"/>
				</overview>
				<editform>
					<field id="message" type="text" required="true"/>
					<field id="effect" type="select" required="true" selection="money,player_injured,player_blocked,player_happiness,player_fitness,player_stamina"/>
					<field id="effect_money_amount" type="number"/>
					<field id="effect_blocked_matches" type="number"/>
					<field id="effect_skillchange" type="number"/>
					<field id="weight" type="number" required="true" default="3"/>
					<field id="status" type="boolean"/>
				</editform>
			</entity>
		</adminpage>
	</admin>
</module>
