<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<blocks>
		<block
			id="shoutboxEingabe"
			template="shoutboxEingabe"
			model="ShoutboxModel"
			includepages="match"
			area="sidebar"
			weight="1"
			role="user,guest" />
		<block
			id="shoutbox"
			template="shoutbox"
			model="ShoutboxModel"
			includepages="match"
			area="sidebar"
			weight="2"
			role="user,guest" />
		<block
			id="shoutbox_in_leagueEingabe"
			template="shoutboxEingabe"
			model="ShoutboxModel"
			includepages="league"
			area="sidebar"
			weight="1"
			role="user,guest" />
		<block
			id="shoutbox_in_league"
			template="shoutbox"
			model="ShoutboxLeagueModel"
			includepages="league"
			area="sidebar"
			weight="2"
			role="user" />
	</blocks>
	<actions>
		<action id="send-shoutbox-msg" controller="SendShoutBoxMessageController" role="user">
			<param id="id" type="number" required="true" />
			<param id="msgtext" type="text" required="true" min="2" max="140" />
		</action>
		<action id="delete-shoutbox-message" controller="DeleteShoutBoxMessageController" role="admin">
			<param id="mid" type="number" required="true" />
		</action>
	</actions>
</module>
