{% block stylesheets %}
	{{ parent() }}

	<style type="text/css">
		.btn-facebook {
			background-color: #4e69a2;
			background-image: none;
			border-color: #435a8b #3c5488 #334c83;
			color: white;
			text-shadow: none;
		}
		.btn-facebook:hover {
			background-color: #435a8b;
			color: white;
		}
	</style>
{% endblock %}

<p>
	<a href="{{ loginurl }}" class="btn btn-facebook"><i class="icon-facebook-sign"></i> {{ i18n.getMessage("facebook_login_button") }}</a>
</p>
