<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<admin>
		<adminpage id="news" permissionrole="r_news" navcategory="website" entity="news">
			<entity dbtable="news AS NewsTab">
				<overview edit="true" delete="true">
					<column id="entity_news_titel" type="text" field="NewsTab.titel" filter="true" sort="true" />
					<column id="entity_news_datum" type="timestamp" field="NewsTab.datum" sort="true"/>
					<column id="entity_admin_name" type="text" field="AdminTab.name" filter="true" sort="true" />
					<column id="entity_news_status" type="boolean" field="NewsTab.status" />
					<join type="LEFT" jointable="admin AS AdminTab" joincondition="AdminTab.id = NewsTab.autor_id" />
				</overview>
				<editform>
					<field id="autor_id" type="foreign_key" jointable="admin" labelcolumns="name" required="true"/>
					<field id="titel" type="text" required="true" />
					<field id="datum" type="timestamp" required="true"/>
					<field id="nachricht" type="textarea" required="true" />
					<field id="linktext1" type="text" />
					<field id="linkurl1" type="url" />
					<field id="linktext2" type="text" />
					<field id="linkurl2" type="url" />
					<field id="linktext3" type="text" />
					<field id="linkurl3" type="url" />
					<field id="c_br" type="boolean" />
					<field id="c_links" type="boolean" />
					<field id="status" type="boolean" />
				</editform>
			</entity>
		</adminpage>
	</admin>
	<blocks>
		<block
			id="news"
			template="topnews"
			model="TopNewsListModel"
			includepages="home"
			area="custom"
			weight="0"
			role="guest,user" />
		</blocks>
</module>
