<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module SYSTEM "../openwebsoccer.dtd">
<!---
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modification
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
-->
<module version="OpenWebsoccer">
	<dependencies>
		<dependency module="leagues" version="1.0.0"/>
	</dependencies>
	<admin>
		<adminpage
			id="trainer"
			entity="trainer"
			navcategory="league"
			permissionrole="r_daten">
			<entity dbtable="trainer">
				<overview delete="true" edit="true">
					<column
						id="entity_trainer_name"
						field="name"
						type="text"
						sort="true"
						filter="true"/>
					<column
						id="entity_trainer_salary"
						field="salary"
						type="number"
						sort="true"/>
					<column
						id="entity_trainer_p_technique"
						field="p_technique"
						type="percent"
						sort="true"/>
					<column
						id="entity_trainer_p_stamina"
						field="p_stamina"
						type="percent"
						sort="true"/>
					<column
						id="entity_trainer_premiumfee"
						field="premiumfee"
						type="number"
						sort="true"/>
				</overview>
				<editform>
					<field id="name" type="text" required="true"/>
					<field id="salary" type="number" required="true"/>
					<field id="p_technique" type="percent" required="true"/>
					<field id="p_stamina" type="percent" required="true"/>
					<field id="premiumfee" type="number" required="false"/>
				</editform>
			</entity>
		</adminpage>
	</admin>
	<settings>
		<setting id="training_min_hours_between_execution" category="game" type="number" default="24"/>
	</settings>
	<actions>
		<action id="choose-trainer" controller="ChooseTrainerController" role="user">
			<param id="id" type="number" required="true" min="1" max="2000000000"/>
			<param id="units" type="number" required="true" min="5" max="20"/>
		</action>
		<action id="execute-training" controller="ExecuteTrainingController" role="user" log="true">
			<param id="id" type="number" required="true" min="1" max="2000000000"/>
			<param id="focus" type="text" required="true" min="2" max="3"/>
			<param id="intensity" type="number" required="true" min="1" max="100"/>
		</action>
	</actions>
</module>